.modalDimmer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease-in-out;
}

.modalDimmer.visible {
  opacity: 1;
  pointer-events: auto;
}

.modalDimmer.hidden {
  opacity: 0;
  pointer-events: none;
}

.modalContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
  width: min(90vw, 400px);
  height: min(90vh, 500px);
  padding: 30px;
}

.modalContent.visible {
  opacity: 1;
  pointer-events: auto;
}

.modalContent.hidden {
  opacity: 0;
  pointer-events: none;
}
