.header {
  padding: 20px 40px;
  background-color: bisque;
  display: flex;
  justify-content: start;
}

.header > a {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: black;
  align-items: center;
}

.header > a > .logo {
  width: 40px;
}

.reviewList {
  margin: 40px auto;
  width: min(500px, 90vw);
}

.reviewList > li:not(:last-of-type) {
  margin-bottom: 20px;
}
