.primary {
  background-color: rgb(251, 171, 24);
  color: #000;
}

.secondary {
  background-color: #333333;
  color: #ffffff;
}

.third {
  background-color: #d9d7cb;
}

.outline {
  background-color: transparent;
  border: 1px solid #333333;
}

.danger {
  background-color: #ff2b40;
  color: #ffffff;
}
