.reviewItem {
  display: flex;
  gap: 10px;
  align-items: start;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reviewItem > .reviewImage {
  width: 100px;
  border: 1px solid brown;
  border-radius: 20px;
}

.reviewItem > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.reviewItem > div > .reviewName {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 30px;
}

.reviewItem > div > .reviewName > b {
  display: inline-block;
  flex: 1;
}

.reviewItem > div > .reviewName > div {
  display: none;
}

.reviewItem:hover > div > .reviewName > div {
  display: flex;
  gap: 12px;
}

.reviewItem > div > .reviewContent {
  margin-top: 10px;
  width: 100%;
  flex: 1;
}
