.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
